Debug
*.sdf
.vs
*.user
*.o
*.txt
*.iml
*.ap_
*.apk
*.xml
*.log
*.obj
*.tlog
*.idb
*.pdb
*.cache
*.opensdf
*.dll
*.iobj
*.exe
*.lib
*.ipdb
*.exp
local.properties
*.jks
/*.suo
build/win32/VoidEngine.VC.opendb

*.xcscheme

*.xcuserstate

xcuserdata/
