Debug
Release
*.sdf
.vs
*.user
*.o
*.txt
*.iml
*.ap_
*.apk
*.log
*.obj
*.tlog
*.idb
*.pdb
*.cache
*.opensdf
*.dll
*.iobj
*.exe
*.lib
*.ipdb
*.exp
local.properties
*.jks
/*.suo
build/win32/VoidEngine.VC.opendb

.DS_Store

libs/
.idea/

xcschememanagement.plist
*.xcscheme
*.xcuserstate

xcuserdata/
